
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Font-size */
p{
    font-size: 1.5rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2.5rem;

}
a{
    text-decoration: none;
    color: black;
}
a:visited{
    color: black;
}
/* HEADER */
header{
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
.titre{
    display: flex;
    justify-content: space-between;
}
IMG.logo {
    margin-left: 20%;
    margin-top: 45px;
    width: 42%;
}
header i{
    font-size: 3rem;
    display: block;
    margin-top: 45px;
    color: rgb(66, 66, 66);
}
.titre i{
    font-size: 4rem;
    display: block;
    margin-top: 72px;
    color: rgb(66, 66, 66);

}

/* section */

.img_menu1{
    background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 620px;
}

.contenu{
    background-color: rgb(238, 238, 238);
    margin-top: -85px;
    padding: 37px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.contenu h2{
    font-weight: normal;
    font-family: 'Shrikhand', cursive;
    font-size: 4rem;
}

.contenu h3{
    font-weight: normal;
    color: rgb(100, 100, 100);

}
.carte_menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 170px;
    background-color: white;
    box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px ;
    border-radius: 30px;
}

.carte_menu p {
    font-size: 2.4rem;
    margin-left: 35px;
    margin-right: 35px;
    transition: 2s;
}
.carte_menu p strong{
    font-size: 2.6rem;
}
.txt_menu{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.prix{
    padding-top: 45px;

}
.select{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0px;
    height: 100%;
    background-color:#99E2D0 ;
    border-top-right-radius: 30px;
    border-bottom-right-radius:  30px;
    overflow: hidden; 
    transition: 0.4s; 
}
.carte_menu:hover .select {
    width: 175px;
}
.carte_menu:hover .select i{
    transform:rotate(360deg);
}
.select i{
    color: white;
    font-size: 4.2rem;
    transition: 0.5s;
}
.souligner_vert{
    width: 90px;
    border: solid 4px #99E2D0;
    margin-top: -25px;
}

article{
    margin-top: 100px;
}

input{
    display: block;
    position: relative;
    margin: 125px auto 185px auto;
    width: 475px;
    height: 120px;
    font-size: 2.4em;
    background:linear-gradient( #FF79DA, #9356DC );
    border-radius: 70px;
    border: none;
    color: white;
    text-decoration: none;
    transition: 1s;
    cursor: pointer;
}

input:hover{
    filter: brightness(135%);
    text-shadow: 5px 5px 5px black ;
}
/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    color: white;
    padding-top: 20px;
    padding-bottom: 90px;
    padding-left: 60px;
}
footer h2{
    font-weight: normal;
    font-family: 'Shrikhand', cursive;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 3rem;
}
footer a:visited{
    color: white;
}

footer i{
    color: white;
    font-size: 2.3rem;
    margin-right: 15px;
}
/* Animation open page */
.anim_carte1{
    animation: anim_carte1 200ms ease-in 100ms forwards;
    transform: scale(0);
}

@keyframes anim_carte1{
    0% {
        transform: translateY(10%);
        opacity: 0;
    } 

    100% { 
        transform: translateY(0);
        opacity: 1;
    }
}
.anim_carte2{
    animation: anim_carte2 200ms ease-in 300ms forwards;
    transform: scale(0);
}

@keyframes anim_carte2{
    0% {
        transform: translateY(10%);
        opacity: 0;
    } 

    100% { 
        transform: translateY(0);
        opacity: 1;
    }
}
.anim_carte3{
    animation: anim_carte3 200ms ease-in 500ms forwards;
    transform: scale(0);
}

@keyframes anim_carte3{
    0% {
        transform: translateY(10%);
        opacity: 0;
    } 

    100% { 
        transform: translateY(0);
        opacity: 1;
    }
}
.anim_carte4{
    animation: anim_carte4 200ms ease-in 700ms forwards;
    transform: scale(0);
}

@keyframes anim_carte4{
    0% {
        transform: translateY(10%);
        opacity: 0;
    } 

    100% { 
        transform: translateY(0);
        opacity: 1;
    }
}
.anim_carte5{
    animation: anim_carte5 200ms ease-in 900ms forwards;
    transform: scale(0);
}

@keyframes anim_carte5{
    0% {
        transform: translateY(10%);
        opacity: 0;
    } 

    100% { 
        transform: translateY(0);
        opacity: 1;
    }
}
.anim_carte6{
    animation: anim_carte6 200ms ease-in 1100ms forwards;
    transform: scale(0);
}

@keyframes anim_carte6{
    0% {
        transform: translateY(10%);
        opacity: 0;
    } 

    100% { 
        transform: translateY(0);
        opacity: 1;
    }
}
.anim_carte7{
    animation: anim_carte7 200ms ease-in 1300ms forwards;
    transform: scale(0);
}

@keyframes anim_carte7{
    0% {
        transform: translateY(10%);
        opacity: 0;
    } 

    100% { 
        transform: translateY(0);
        opacity: 1;
    }
}
.anim_carte8{
    animation: anim_carte8 200ms ease-in 1500ms forwards;
    transform: scale(0);
}

@keyframes anim_carte8{
    0% {
        transform: translateY(10%);
        opacity: 0;
    } 

    100% { 
        transform: translateY(0);
        opacity: 1;
    }
}
.anim_carte9{
    animation: anim_carte9 200ms ease-in 1700ms forwards;
    transform: scale(0);
}

@keyframes anim_carte9{
    0% {
        transform: translateY(10%);
        opacity: 0;
    } 

    100% { 
        transform: translateY(0);
        opacity: 1;
    }
}